local OrionLib = loadstring(game:HttpGet("https://pastebin.com/raw/6a4F5ENH", true))()

local Window = OrionLib:MakeWindow({Name = "XS Hub V3", HidePremium = false, SaveConfig = true, ConfigFolder = "OrionTest"})

-- Tab Universal
local UniversalTab = Window:MakeTab({
    Name = "Universal",
    Icon = "rbxassetid://4483345998",
    PremiumOnly = false
})

-- Adicionando a seção do Discord primeiro
local SectionUniversal = UniversalTab:AddSection({
    Name = "XS Hub - discord.gg/4cbym2UH5w"
})

-- Botão Infinite Yield
UniversalTab:AddButton({
    Name = "Infinite Yield",
    Callback = function()
        loadstring(game:HttpGet(('https://raw.githubusercontent.com/EdgeIY/infiniteyield/master/source'), true))()
    end
})

-- Tab Player
local PlayerTab = Window:MakeTab({
    Name = "Player",
    Icon = "rbxassetid://4483345998",
    PremiumOnly = false
})

-- Adicionando a seção do Discord primeiro
local SectionPlayer = PlayerTab:AddSection({
    Name = "XS Hub - discord.gg/4cbym2UH5w"
})

-- Slider para Walkspeed
PlayerTab:AddSlider({
    Name = "Walkspeed",
    Min = 16,
    Max = 200,
    Default = 16,
    Color = Color3.fromRGB(255, 0, 0),
    Increment = 1,
    ValueName = "Walkspeed",
    Callback = function(Value)
        game.Players.LocalPlayer.Character.Humanoid.WalkSpeed = Value
        print("Novo Walkspeed: " .. Value)
    end    
})

-- Slider para JumpPower
PlayerTab:AddSlider({
    Name = "JumpPower",
    Min = 50,
    Max = 200,
    Default = 50,
    Color = Color3.fromRGB(255, 0, 0),
    Increment = 1,
    ValueName = "JumpPower",
    Callback = function(Value)
        game.Players.LocalPlayer.Character.Humanoid.JumpPower = Value
        print("Novo JumpPower: " .. Value)
    end    
})

-- Tab Dead Rails
local DeadRailsTab = Window:MakeTab({
    Name = "Dead Rails",
    Icon = "rbxassetid://4483345998",
    PremiumOnly = false
})

-- Adicionando a seção do Discord depois do botão
local SectionDeadRails = DeadRailsTab:AddSection({
    Name = "XS Hub - discord.gg/4cbym2UH5w"
})

-- Adicionando o botão antes da seção para garantir a ordem correta
DeadRailsTab:AddButton({
    Name = "Dead Rails Keyless",
    Callback = function()
        loadstring(game:HttpGet("https://raw.githubusercontent.com/gumanba/Scripts/refs/heads/main/DeadRails", true))()
    end
})

DeadRailsTab:AddButton({
    Name = "Speed X Hub",
    Callback = function()
        loadstring(game:HttpGet("https://raw.githubusercontent.com/AhmadV99/Script-Games/refs/heads/main/Dead%20Rails.lua"))()
    end
})

-- Tab Blox Fruits
local BloxTab = Window:MakeTab({
    Name = "Blox Fruits",
    Icon = "rbxassetid://4483345998",
    PremiumOnly = false
})

local SectionBlox = BloxTab:AddSection({
    Name = "XS Hub - discord.gg/4cbym2UH5w"
})

BloxTab:AddButton({
    Name = "W-azure",
    Callback = function()
        loadstring(game:HttpGet("https://api.luarmor.net/files/v3/loaders/3b2169cf53bc6104dabe8e19562e5cc2.lua"))()
    end
})

BloxTab:AddButton({
    Name = "Hoho Hub",
    Callback = function()
        loadstring(game:HttpGet("https://raw.githubusercontent.com/acsu123/HOHO_H/main/Loading_UI"))()
    end
})

-- Tab MM2
local MM2Tab = Window:MakeTab({
    Name = "MM2",
    Icon = "rbxassetid://4483345998",
    PremiumOnly = false
})

local SectionMM2 = MM2Tab:AddSection({
    Name = "XS Hub - discord.gg/4cbym2UH5w"
})

-- Botões do MM2
MM2Tab:AddButton({
    Name = "xHUB",
    Callback = function()
        loadstring(game:HttpGet("https://raw.githubusercontent.com/Au0yX/Community/main/XhubMM2"))()
    end
})

MM2Tab:AddButton({
    Name = "Auto Farm",
    Callback = function()
        loadstring(game:HttpGet("https://raw.githubusercontent.com/BaconBossScript/BeeconHub/main/BeeconHub"))()
    end
})

-- Tab Blue Lock: Rivals
local BlueLockRivalsTab = Window:MakeTab({
    Name = "Blue Lock: Rivals",
    Icon = "rbxassetid://4483345998",
    PremiumOnly = false
})

-- Adicionando a seção do Discord primeiro
local SectionBlueLockRivals = BlueLockRivalsTab:AddSection({
    Name = "XS Hub - discord.gg/4cbym2UH5w"
})

-- Botões do Blue Lock: Rivals
BlueLockRivalsTab:AddButton({
    Name = "Nicuse.xyz",
    Callback = function()
        loadstring(game:HttpGet("https://nicuse.xyz/MainHub.lua"))()
    end
})

BlueLockRivalsTab:AddButton({
    Name = "Alchemy Hub",
    Callback = function()
        loadstring(game:HttpGet("https://scripts.alchemyhub.xyz"))()
    end
})

-- Tab Fisch
local FischTab = Window:MakeTab({
    Name = "Fisch",
    Icon = "rbxassetid://4483345998",
    PremiumOnly = false
})

local SectionFisch = FischTab:AddSection({
    Name = "XS Hub - discord.gg/4cbym2UH5w"
})

FischTab:AddButton({
    Name = "Native Hub",
    Callback = function()
        script_key="";(loadstring or load)(game:HttpGet("https://raw.githubusercontent.com/Native-lab/Native/main/loader.lua"))()
    end
})

FischTab:AddButton({
    Name = "Nixius Hub (Key: xsiontop)",
    Callback = function()
        loadstring(game:HttpGet("https://pastebin.com/raw/aqhRaFcB"))()
    end
})

-- Tab Jailbreak
local JailbreakTab = Window:MakeTab({
    Name = "Jailbreak",
    Icon = "rbxassetid://4483345998",
    PremiumOnly = false
})

local SectionJailbreak = JailbreakTab:AddSection({
    Name = "XS Hub - discord.gg/4cbym2UH5w"
})

JailbreakTab:AddButton({
    Name = "Project V5",
    Callback = function()
        loadstring(game:HttpGet('http://scripts.projectauto.xyz/AutoRobV5'))()
    end
})

-- Tab Slap Battles
local SlapTab = Window:MakeTab({
    Name = "Slap Battles",
    Icon = "rbxassetid://4483345998",
    PremiumOnly = false
})

local SectionSlap = SlapTab:AddSection({
    Name = "XS Hub - discord.gg/4cbym2UH5w"
})

SlapTab:AddButton({
    Name = "Forge Hub",
    Callback = function()
        loadstring(game:HttpGet("https://raw.githubusercontent.com/Skzuppy/forge-hub/main/loader.lua"))()
    end
})

SlapTab:AddButton({
    Name = "Boxer Slap",
    Callback = function()
        loadstring(game:HttpGet("https://pastefy.app/niPKZsec/raw"))()
    end
})

-- Tab Doors
local DoorsTab = Window:MakeTab({
    Name = "Doors",
    Icon = "rbxassetid://4483345998",
    PremiumOnly = false
})

local SectionDoors = DoorsTab:AddSection({
    Name = "XS Hub - discord.gg/4cbym2UH5w"
})

DoorsTab:AddButton({
    Name = "Mspaint V4 {NEW}",
    Callback = function()
        loadstring(game:HttpGet("https://api.luarmor.net/files/v3/loaders/002c19202c9946e6047b0c6e0ad51f84.lua"))()
    end
})

DoorsTab:AddButton({
    Name = "Mspaint V3 {OLD}",
    Callback = function()
        loadstring(game:HttpGet("https://raw.githubusercontent.com/notpoiu/mspaint/main/main.lua"))()
    end
})

-- Tab Break In 2
local Break2Tab = Window:MakeTab({
    Name = "Break In 2",
    Icon = "rbxassetid://4483345998",
    PremiumOnly = false
})

local SectionBreak2 = Break2Tab:AddSection({
    Name = "XS Hub - discord.gg/4cbym2UH5w"
})

Break2Tab:AddButton({
    Name = "Item Giver",
    Callback = function()
        loadstring(game:HttpGet("https://raw.githubusercontent.com/memejames/Hide/main/Break%20in%202"))()
    end
})

-- Tab Funky Friday
local FunkyTab = Window:MakeTab({
    Name = "Funky Friday",
    Icon = "rbxassetid://4483345998",
    PremiumOnly = false
})

local SectionFunky = FunkyTab:AddSection({
    Name = "XS Hub - discord.gg/4cbym2UH5w"
})

FunkyTab:AddButton({
    Name = "Auto Play",
    Callback = function()
        loadstring(game:HttpGet('https://pastebin.com/raw/dcyuEgyK'))()
    end
})

-- Tab Dandy's World
local DandyTab = Window:MakeTab({
    Name = "Dandy's World",
    Icon = "rbxassetid://4483345998",
    PremiumOnly = false
})

local SectionDandy = DandyTab:AddSection({
    Name = "XS Hub - discord.gg/4cbym2UH5w"
})

DandyTab:AddButton({
    Name = "Dandy's World Hub",
    Callback = function()
        loadstring(game:HttpGet("https://pastebin.com/raw/Y7uh3UZf"))();
    end
})


